@import url("https://rsms.me/inter/inter.css");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  --pink: #e20f66;
  --reflexBlueC: #001489;
  --palePink: rgb(250, 228, 216);

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;

  color: #78797d;
  line-height: 1.4rem;
  letter-spacing: -0.0006875px;
}

a {
  font-family: "Source Code Pro", monospace;
  color: var(--reflexBlueC);
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #21262d;
}

.highlight {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--palePink) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  text-decoration: none;
  transition: background-position 0.3s ease-out;
}

.highlight:hover {
  background-position: -99.99% 0;
}

code {
  font-family: "Source Code Pro", monospace;
  color: var(--pink);
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  width: 100%;
  margin: 0;
}
