header {
  padding: 5vw;
  height:75vh;
  background: /*linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),*/ #fff;
  background-size:cover;
  text-align: left;
}

#social-links {


}

#social-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#social-links a:first-child {
  margin-bottom: 1em;
}

#social-links a:last-child {
  margin-top: 1em;
}

span {
  color: var(--title)
}
