.portfolio-entry-1 {
  background: url(../img/1.png) center no-repeat;
  filter: grayscale(1);
}

.portfolio-entry-2 {
  background: url(../img/3.gif) top center no-repeat;
}
.portfolio-entry-3 {
  background: url(../img/1.png) center;

}
.portfolio-entry-4 {
  background: url(../img/desk.jpg) center;

}
.portfolio-entry-5 {
  background: url(../img/desk.jpg) center;
}

#portfolio p {
  color: black;

}

[class*='portfolio-entry-'] {
}

[class*='portfolio-entry-'].main-project {
  background-size: cover;
  height: 40vh;
  overflow: hidden;
  transition: all 0.5s;
  display: flex;
  margin-bottom: 2vw;
}

[class*='portfolio-entry-'].small-project {
  height: 40vh;
  background-size: cover;
}


.portfolio-subsection [class*='col-']:not(:last-child) {
  padding-right: 2vw;
}

.sm-show {
  display: none;
}

.small-project-desc {
  padding: 1em 0;
}

@media only screen and (min-width: 480px) {
  [class*='portfolio-entry-']:hover {
    /*transform: scale(1.01);*/
  }

  .col-12 [class*='portfolio-entry-']:hover > :first-child,
  .col-8 [class*='portfolio-entry-']:hover > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      );
    visibility: visible;
    opacity: 1;
  }

  .col-4 [class*='portfolio-entry-']:hover > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      );
    visibility: visible;
    opacity: 1;
  }
}

[class*='portfolio-entry-'] div {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
}