.portfolio-entry-1 {
  background: url(../img/1.png) center no-repeat;
}

.portfolio-entry-2 {
  background: url(../img/3.gif) top center no-repeat;
}
.portfolio-entry-3 {
  background: url(../img/2.png) center;

}
.portfolio-entry-4 {
  background: url(../img/desk.jpg) center;

}
.portfolio-entry-5 {
  background: url(../img/desk.jpg) center;
}

.entry-description p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}

.entry-description p:last-child {
  text-transform: uppercase;

}

[class*='portfolio-entry-'] {
  background-size: cover;
  height: 394px;
  width: auto;
  overflow: hidden;
  transition: all 0.5s;
  display: flex;
  margin-bottom: 1vh;
}



.portfolio-subsection [class*='col-']:first-child {
  padding-right: 1vh;
}

.portfolio-subsection [class*='col-']:last-child {
  padding-right: 0;
}

[class*='portfolio-entry-']:hover {
  transform: scale(1.01);
}

.col-12 [class*='portfolio-entry-']:hover > :first-child,
.col-8 [class*='portfolio-entry-']:hover > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  visibility: visible;
  opacity: 1;
  padding: 3vw;
}

.col-4 [class*='portfolio-entry-']:hover > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  visibility: visible;
  opacity: 1;
  padding: 3vw;
}

[class*='portfolio-entry-'] div {
  visibility: hidden;
  opacity: 0;
}

