.project-number.main-project {
  font-size: 3rem;
  color: #d7d7d7;
}

.project-number.small-project {
  font-size: 2rem;
  color: #d7d7d7;
}

#portfolio p {
  color: black;
}

.gallery {
  display: flex;
}

[class*='portfolio-entry-'] {
  position: relative;
}

[class*='portfolio-entry-'].main-project {
  height: 60vh;
  transition: all 0.5s;
  display: flex;
  margin-bottom: 2vw;
}

[class*='portfolio-entry-'].small-project {
    height: 40vh;
  }

#portfolio img {
  height: 100%;
}

.small-project-desc {
  padding: 1em 0;
}



span.img-description {
  text-transform: none;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: normal;
  color: var(--blueScreen);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
  }

  .img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) { /* 640 px */
  .portfolio-subsection [class*='col-']:not(:last-child) {
    padding-right: 2vw;
  }
}

@media only screen and (min-width: 55.5em) {
  [class*='col-'] [class*='portfolio-entry-']:hover > div {
    position: relative;
    z-index: 999;
    background:  linear-gradient(to right,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      );
    visibility: visible;
    opacity: 1;
  }
}




