@import url('https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans');


html {
  --main: #1e2022;
  --subheader: #e7edf1;
  --title: #76858F;
  --emphasis: #b7b9c4;
  --title2: #A3ADB3;
  border: solid;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #8aa1a9;
}

ul {
  column-count: 2;
  margin: 0 auto;
}

img {
  max-width:100%;
  max-height:auto;
}

h1 {
  color:var(--main);
  /*text-shadow: 3px 4px 0 rgba(0,0,0,0.2);*/
}

h2 {
  font-weight: 400;
  font-size: 3vh;
  color:var(--title);
  /*text-shadow: 3px 4px 0 rgba(0,0,0,0.2)*/
}

h3, h4 {
  color: var(--emphasis);
  font-size:3vh;
  text-align: center;
  text-transform: uppercase;
}

.title2 {
  color: var(--title2);
  text-transform: uppercase;
  font-family: 'Nixie One', serif;
  letter-spacing: 2px;

}

.subheader h3:before{
  content: "";
}

.subheader h3:after{
  content: "";
}

.subheader {
  text-align: center;
  margin: 1.25em 0px;

}

.container {
  width: 100%;
  max-width: 960px;
  text-align: justify;
  margin: auto;
  padding: 0 5vw;
}


.row:before,
.row:after {
    content:"";
    display: table ;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    /*Gutter*/
    padding: 0 15px;
    background-color: transparent;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

.outline, .outline *{
    outline: 1px dashed #000;
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .col-1{ width: 8.33%; }
  .col-2{ width: 16.66%; }
  .col-3{ width: 50%; }
  .col-4{ width: 33.33%; }
  .col-5{ width: 41.66%; }
  .col-6{ width: 50%; }
  .col-7{ width: 58.33%; }
  .col-8{ width: 66.66%; }
  .col-9{ width: 75%; }
  .col-10{ width: 83.33%; }
  .col-11{ width: 91.66%; }
  .col-12{ width: 100%; }

    ul {
    column-count: 1;
  }

}

/* Phones */
@media only screen and (max-width: 480px) {


    body {
      font-size: 1em;
    }

    ul {
    column-count: 1;
  }

    [class*='col-'], img {
      width: 100%;
      padding: 0;
    }
}




