@import url('https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans: 400, 600, 800');

html {
  font-family: 'Open Sans', sans-serif;
  --main: #1e2022; /*dark grey*/
  --subheader: #F7F7F7; /*light grey*/
  --title: #999494; /*lighter grey*/
  --emphasis: #FC4E4C; /*red*/

  /* PANETONE */
  --ultraviolet: #6d5b97;
  --citrus: #fcb239;
  --hawaiiansurf: #1180ae ;
  --raspberry:#d74061;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--emphasis);
}

p {
  font-size: 14px;
  margin: 0 0 1em 0;
}

ul {
  column-count: 2;
  margin: 0 auto;
}

img {
  width: 100%
}

h1 {
  color:var(--main);
}

h2 {
  font-family: 'Nixie One', serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  color: var(--title);
  letter-spacing: 5px;
  margin: 5vh 0 3vh 0;
}

/*h2 {
  font-size: 3vh;
  color:var(--title);
}*/

h3 {
  color: var(--emphasis);
  font-size:3vh;
  text-align: center;
  text-transform: uppercase;
}

h4 {

}

span {
  color: var(--emphasis)
}

.title {
  color: var(--title);
  text-transform: uppercase;
  font-family: 'Nixie One', serif;
  letter-spacing: 2px;
  margin: 0vh 0 5vh 0;
}

.subheader {
  padding-top: 10vh;
}

/* HEADER */

header {
  padding: 18vh 5vw;
  height:75vh;
  text-align: left;
  transition: all .5s;
}

.main-logo {
  background: url('../img/1.png');
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 1vh 1vw;
}
#social-links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
}

#down-arrow {
  margin: 15vh auto 10vh 2vw;
  color: var(--main);
}

nav {
  background: white;
  top:0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
}

li.logo a {
}

.fixed-nav li.logo {
  max-width:500px;
}

nav a {
  display: inline-block;
  color: var(--title);
  font-family: 'Nixie One', serif;
  text-transform: uppercase;
}

nav .hamburger {
  display: none;
}


.container {
  max-width: 960px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 0 5vw;
}

/* CONTACT */

input:last-child {
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, textarea {
  border: 1px solid;
  border-image-source: linear-gradient(#999494, #f7f7f7);
  border-image-slice: 20;
  padding: 2em;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin: 10px 0;
}

/* FOOTER */

footer {
  border-top: solid 1px;
  font-size: 20px;
  color: white;
  z-index: 1
}

.row:before,
.row:after {
    content:"";
    display: table ;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    /*Gutter*/
    background-color: transparent;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

.outline, .outline *{
    outline: 1px dashed #000;
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .col-1{ width: 8.33%; }
  .col-2{ width: 16.66%; }
  .col-3{ width: 50%; }
  .col-4{ width: 100%; }
  .col-5{ width: 41.66%; }
  .col-6{ width: 50%; }
  .col-7{ width: 58.33%; }
  .col-8{ width: 100%; }
  .col-9{ width: 75%; }
  .col-10{ width: 83.33%; }
  .col-11{ width: 91.66%; }
  .col-12{ width: 100%; }

    ul {
    column-count: 1;
  }
}

/* Narrow */

@media only screen and (min-width: 480px) and (max-width: 620px) {
  header {
    padding: 5vh 5vw;
  }

  #down-arrow {
    margin: 5vh 0;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {

  body {
      font-size: 1em;
    }

  ul {
    column-count: 1;
  }

  header {
    padding: 2vh 5vw;
  }

  h1 {
    font-size: 1.5em;
  }

  #social-links a:first-child, #social-links a:last-child {
    margin: 0;
  }

  #social-links {
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #down-arrow {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    background: white;
  }

  .topnav ul, .logo {
    display: none;
  }

  nav .hamburger {
    text-align: right;
    padding: 0 3vw;
    display: block;
    font-size: 3em;
  }

  .topnav.responsive ul {
    background: rgba(0,0,0,0.5);
    font-size: 1em;
    display: block;
    flex-direction: column;
    justify-content: left;
  }

  .topnav.responsive li {
    padding: 1em
  }

  .portfolio-subsection [class*='col-']:first-child {
    padding-right: 0vh;
  }

  [class*='col-'], img {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  #down-arrow {
    display: none;

  }
}




