@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');
/*@import url('https://fonts.googleapis.com/css?family=Karla|Oswald');*/

/*

    font-family: 'Source Code Pro', monospace;

    font-family: 'Roboto', sans-serif;

    font-family: 'Inter UI', sans-serif;


*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter UI', sans-serif;
  margin: 0.67rem 0;
  line-height: 1.56rem;
}

ol, ul, li, p {
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.56rem;
}


html {
  margin: 0 auto;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;

  --sidebarSize: 45px;
  --ghost: #ffffff;
  --blueScreen: #053bc4;
  --pink: #e20f66;

  /* PANETONE */
  --ultraviolet: #6d5b97;
  --citrus: #fcb239;
  --hawaiiansurf: #1180ae ;
  --raspberry:#d74061;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 1px auto;
  width: 100%;
  color: #636363;
}

a {
  color: var(--blueScreen);
  text-decoration: none;
}

.container a, footer a > span {
  border-bottom: 1px solid var(--pink);
}

ul {
  column-count: 2;
  margin: 0 auto;
}

img {
  width: 100%;
}

h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
h2 {
    font-size: 1.5rem
}
h3 {
    font-size: 1.9375rem
}
h4 {
    font-size: 1.5625rem
}
h5 {
    font-size: 1.25rem
}
h6 {
    font-size: 1rem
}

h3 {
  text-transform: uppercase;
  color: var(--pink);
  font-weight: normal;
  letter-spacing: 0.08rem;
  margin: 0;
}

/* HEADER */

.title-text {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  letter-spacing:0.08rem;
  justify-content: flex-end;

  grid-area: title;
}

.description-text {
  padding-left: 1rem;
  font-weight: 700;
  display: flex;
  text-align: right;
  flex-direction: column;

  grid-area: description;
}

header p {
  font-family: 'Inter UI', sans-serif;
  letter-spacing: 0.05rem;
}

header a {
  text-decoration: none;
}

.line {
  grid-area: lines;
}

.line:before {
    content: "";
    position: absolute;
    transform: translateY(-38.33%);
    border-left: solid 1px var(--pink);
    height: 43.33%;
}

#social-links {
  display: flex;
}

#social-links a {
  color: var(--ghost);
  flex:1;
  display: flex;
  justify-content: flex-end;
}

#down-arrow {
  grid-area: arrow;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#down-arrow a {
  color: var(--pink);
}

header {
  font-family: 'Inter UI', sans-serif;
  color: var(--ghost);
  display: grid;
  background: #0f34b6;
  height:100vh;
  transition: all 0.5s;

  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 40% 12% 12% 12% 12% 12%;
  grid-template-areas:
    ". title title  . . ."
    ". title title lines . ."
    ". . . description description ."
    ". . . social . ."
    ". . arrow arrow . ."
    ". . . . . ."
}

nav {
  background: var(--ghost);
  top:0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  height: 50px;
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;

}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  transform: translateY(0.2vh);
  max-width:0;
  overflow: hidden;
  transition: all 0.5s;

}

li.logo a:after {
  border-style: none;
}

.fixed-nav li.logo {
  max-width: var(--sidebarSize);
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: var(--blueScreen);
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
}

nav a:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: solid 5px var(--pink);
  transition: all 0.5s ease;
}

nav a:hover:after {
  content: "";
  width: 50%;
  display: block;
  margin-left: 25%; /* Centers underline */
}

nav .hamburger {
  display: none;
}

/* SIDE BARS */

.sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebarSize);
  background: var(--ghost);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sidebar.right {
  right: 0;
}

.sidebar p {
  font-size: 0.75rem;
  position: absolute;
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.sidebar.left p {
  transform: rotate(270deg);
}


.sidebar.right p {
  transform: rotate(90deg);
}

.subheader {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
}


/* MAIN */

.container {
  padding: 0 var(--sidebarSize);
  margin: auto;
  font-family: 'Source Code Pro', monospace;
}

.container span {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

/* ABOUT */

#about > .subheader {
  grid-area: aboutTitle;
}

#about ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 1em 0;
}

#about li {
  line-height: 1.56rem;
}

#skill-1 {
  grid-area: colone;
}

#skill-2 {
  grid-area: coltwo;
}

#skill-3 {
  grid-area: colthree;
}

.about-description {
  color: #000;
  grid-area: desc;
}

#about {
  display: grid;

  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas:
    ". aboutTitle . . . ."
    ". . colone coltwo colthree colfour"
    ". . desc desc desc ."
}

/* PORTFOLIO */

/* CONTACT */

#contact > .subheader {
  grid-area: contactTitle;
}

#contact > .contact-text {
  color: black;
  grid-area: contactdesc;
  padding-right: 2rem;
}

form {
  grid-area: form;
  padding-top: 0.67rem;
}

form [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-top: 0.67rem
}

label {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 0.5rem;
  color: var(--pink);
}

input, textarea, select {
  padding: 0.67rem;
  border: 1px solid black;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Source Code Pro', monospace;
}

.email-form {
  padding-right: 0.5rem; /* Lol */
}

form textarea {
  height: 10rem;
}

input[type="submit"] {
}

#contact {
  display: grid;

  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas:
    ". contactTitle . . . ."
    ". contactdesc form form form ."
    ". contactdesc form form form ."
}

/* FOOTER */


footer {
  border-top: solid 1px;
  height: 25vh;
  margin-top: 1em;
  padding: 0 var(--sidebarSize);
}

.master-social-links {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.row:before,
.row:after {
    content:"";
    display: table ;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    /*Gutter*/

    background-color: transparent;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

.outline, .outline *{
    outline: 1px dashed pink;
}

@media screen and (max-width: 61.5em) { /* 888px */
  h1 {font-size: 3rem} h2 {font-size: 1.5rem} h3 {font-size: 1.9375rem}

  #contact {
  display: grid;

  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas:
    "contactTitle contactTitle . . . ."
    "contactdesc contactdesc form form form ."
    "contactdesc contactdesc form form form ."
  }
}

@media screen and (max-width: 40em) { /* 640px */

  .md-hide, .sidebar {
    display: none;
  }

  .description-text {
    padding: 1.2rem 0;
    margin: 0;
  }

  .title-text {
    padding-bottom: 1.2rem;
    border-bottom: solid 1px var(--ghost);
  }

  .about-description p {
    margin: 0;
    padding:0;
  }

  #about {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      "aboutTitle ."
      "colone desc"
      "coltwo desc"
      "colthree desc"
      "colfour desc"
  }

  #contact {
  display: grid;

  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 66.66%;
  grid-template-areas:
    "contactTitle . . ."
    "contactdesc form form form"
  }

  .col-1{ width: 8.33%; }
  .col-2{ width: 16.66%; }
  .col-3{ width: 50%; }
  .col-4{ width: 100%; }
  .col-5{ width: 41.66%; }
  .col-6{ width: 50%; }
  .col-7{ width: 58.33%; }
  .col-8{ width: 100%; }
  .col-9{ width: 75%; }
  .col-10{ width: 83.33%; }
  .col-11{ width: 91.66%; }
  .col-12{ width: 100%; }

    ul {
    column-count: 1;
  }
  #portfolio > .portfolio-subsection [class*='col-']:first-child {
    padding-right: 0vh;
  }
}

/* Phones */

@media only screen and (max-width: 30em) { /* 480 px*/
  h1 {
    font-size: 3.55rem;
    line-height: 4.5rem  }

  header > div *, .title-text {
    padding-right: 0;
    text-align: center;
  }

  body > header {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 3rem 0 3rem;
  }

  #about {
    text-align: center;
    display: flex;
    flex-direction: column;
    }

  #social-links a {
    margin: 1rem 0;
    justify-content: center;
  }

  #down-arrow {
    position: relative;
  }

  .logo {
    display: none;
  }

  nav a.hamburger {
    padding: 0.8rem;
    height: 3.5rem;
    display: block;
    font-size: 2rem;
    text-align: right;
    background: var(--ghost);
    transition: all 0.5s;
    z-index: 1;
  }

  nav a.hamburger:before, nav a.hamburger:after {
    content:"";
    border: none;
  }

  .fixed-nav nav a.hamburger {
  }

  .topnav.collapse ul {
    overflow: hidden;
    height: 0;
    transition: all 0.5s linear;
  }

  .topnav li:nth-child(3):before {
    position: absolute;
    transform: translateY(-20vh);
    content: "";
    height: 91.85px;
    width: 91.85px;
    background: url(../img/1.png);
  }

  .topnav ul {
    background: var(--ghost);
    transform: translateY(0vh);
    height: 100vh;
    transition: all 0.3s linear;
    font-size: 1em;
  }

  #contact {
    display: flex;
    flex-direction: column;
    }

  .email-form {
    padding: 0;
  }

  .master-social-links {
    justify-content: space-between;
  }

  [class*='col-'] { width: 100%; }
}

@media only screen and (max-width: 320px) {
  header.row {
    padding: 5vh 5vw;
    margin: 0;
  }
}

@media screen and (min-width: 117em) {   /* 1872px */
  html{
    font-size: 22px;
  }
}
@media screen and (min-width: 130em) { /* 2080px */
  html{
    font-size: 32px;
  }
}



