---
import PageLayout from '@/layouts/Base.astro';

const meta = {
  description:
    'Corrina Chow: Software Developer & Community Advocate. I build software and organize events celebrating Asian Canadian identity.',
  title: 'about',
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">about</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>
      Hi, I'm Corrina Chow, a senior software developer at
      <a target="_blank" href="https://unity.com/?ref=corrinachow.com"
        >Unity Technologies</a
      >. I currently work on the Ad Network team, where I work on
      improving and maintaining <a
        target="_blank"
        href="https://docs.unity.com/demand-side-partners/en-us/manual/UnityExchangeIntro/?ref=corrinachow.com"
      >
        Unity's real-time bidding exchange.</a
      >
      <p>
        I build high-performance systems and improve developer
        workflows through automation and tooling using:
      </p>
      <ul>
        <li>Go</li>
        <li>JavaScript/TypeScript</li>
        <li>React</li>
        <li>Aerospike</li>
        <li>Kafka</li>
        <li>Docker</li>
        <li>Kubernetes</li>
      </ul>
      <p>
        I also maintain the website for
        <a
          target="_blank"
          href="https://stickyricemagazine.com/?ref=corrinachow.com"
          >Sticky Rice Magazine</a
        >, a non-profit that amplifies the voices of diasporic
        Canadians of Asian descent and aims to spark meaningful
        conversations about identity and culture.
      </p>
      <p>
        Beyond the online platform, I organize and produce events for
        Sticky Rice Magazine creating opportunities for the community
        to connect and celebrate Asian culture. See more <a
          target="_blank"
          href="https://www.instagram.com/stickyricemagazine/">here</a
        >.
      </p>
      <ul>
        <li>
          <b>Fierté au Quartier Chinois (2021):</b> One-day event celebrating
          Asian LGBTQ+ pride in Montreal's Chinatown (Sticky Rice Magazine
          x Pervers/cité x Rising Youth x Marché de Nuit de Montréal).
        </li>
        <li>
          <b>Lunar Rave (2022):</b> A celebration of Lunar New Year emphasizing
          community, family, and cultural heritage with DJ sets and food
          vendors (Sticky Rice Magazine).
          <br />
          <a
            target="_blank"
            href="https://www.instagram.com/p/CpLfYG4P5Bz/">Video</a
          >
        </li>
        <li>
          <b>All Dressed (2022):</b> An outdoor variety show featuring
          K-pop, burlesque, and local talent at the Asian Night Market
          in Montreal's Chinatown (Sticky Rice Magazine).
          <br />
          <a
            target="_blank"
            href="https://www.instagram.com/p/Cixu3K2PPvr/">Video</a
          >
        </li>
        <li>
          <b>The Lotus Festival (2022):</b> Three-day festival celebrating
          community flourishing with workshops, performances, and visual
          art by queer and Asian individuals (Sticky Rice Magazine x Fierté
          Montreal).
        </li>
        <li>
          <b>Wicked Games (2023):</b> Collaboration with Fantasia International
          Film Festival to showcase Asian cinema, featuring short and long-form
          films from various Asian countries (Sticky Rice Magazine).
          <br />
          <a
            target="_blank"
            href="https://www.instagram.com/stickyricemagazine/reel/CvfQ8c1x8Q4/"
            >Video</a
          >
        </li>
        <li>
          <b>Vision 2088: A Cyberpunk Outlook (2023):</b> Produced a two-part
          event exploring the concept of time and the future, featuring
          a creatives' panel and an immersive dance party (Sticky Rice
          Magazine).
          <br />
          <a
            target="_blank"
            href="    - https://www.instagram.com/p/CtSCls0Jvyv/"
            >Video</a
          >
        </li>
        <li>
          <b>In Harmony: Year of the Wood Dragon (2024):</b> Produced a
          Lunar New Year celebration featuring live music, lion dance performances,
          and visual art installations (Sticky Rice Magazine).
          <br />
          <a
            target="_blank"
            href="https://www.instagram.com/p/C3ps-1qgPen/?img_index=1"
            >Instagram post</a
          >
        </li>
      </ul>
    </p>
  </div></PageLayout
>
