---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description:
		"Corrina Chow: Software Developer & Community Advocate. I build software and organize events celebrating Asian Canadian identity.",
	title: "about",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">about</h1>
	<h2>software developer</h2>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I'm Corrina Chow, a senior software developer at <a
				target="_blank"
				href="https://unity.com/?ref=corrinachow.com">Unity Technologies</a
			>. My current role is in ads, where I work on improving and maintaining <a
				target="_blank"
				href="https://docs.unity.com/demand-side-partners/en-us/manual/UnityExchangeIntro/?ref=corrinachow.com"
			>
				Unity's real-time bidding exchange.</a
			>
			<p>
				I build high-performance systems and improve developer workflows through automation and
				tooling using:
			</p>
			<ul>
				<li>Go</li>
				<li>JavaScript/TypeScript</li>
				<li>React</li>
				<li>Aerospike</li>
				<li>Kafka</li>
				<li>Docker</li>
				<li>Kubernetes</li>
			</ul>
			<p>
				I also maintain the website for <a
					target="_blank"
					href="https://stickyricemagazine.com/?ref=corrinachow.com">Sticky Rice Magazine</a
				>, a non-profit that amplifies the voices of diasporic Canadians of Asian descent and aims
				to spark meaningful conversations about identity and culture.
			</p>

			<h2>event organization & production</h2>
			<p>
				Beyond the online platform, I organize and produce events for Sticky Rice Magazine creating
				opportunities for the community to connect and celebrate Asian culture. Learn more <a
					target="_blank"
					href="https://www.instagram.com/stickyricemagazine/">here</a
				>.
			</p>
			<ul>
				<li>
					<b>Fierté au Quartier Chinois (2021):</b> One-day event celebrating Asian LGBTQ+ pride in Montreal's
					Chinatown (Sticky Rice Magazine x Pervers/cité x Rising Youth x Marché de Nuit de Montréal).
				</li>
				<li>
					<b>Lunar Rave (2022):</b> A celebration of Lunar New Year emphasizing community, family, and
					cultural heritage with DJ sets and food vendors (Sticky Rice Magazine).
					<br />
					🔗 <a target="_blank" href="https://www.instagram.com/p/CpLfYG4P5Bz/">Video (IG)</a>
				</li>
				<li>
					<b>All Dressed (2022):</b> An outdoor variety show featuring K-pop, burlesque, and local talent
					at the Asian Night Market in Montreal's Chinatown (Sticky Rice Magazine).
					<br />
					🔗 <a
						target="_blank"
						href="https://www.ete.lecoeurdelile.com/en/activities/shows/all-dressed-a-sticky-rice-magazine-variety-show"
						>Le cœur de l'île</a
					> | 🔗 <a target="_blank" href="https://www.instagram.com/p/Cixu3K2PPvr/">Video (IG)</a>
				</li>
				<li>
					<b>The Lotus Festival (2022):</b> Three-day festival celebrating community flourishing with
					workshops, performances, and visual art by queer and Asian individuals (Sticky Rice Magazine
					x Fierté Montreal).
					<br />
					🔗 <a target="_blank" href="https://www.youtube.com/watch?v=lhJ5mmOQRdU">Youtube (YT)</a>
				</li>
				<li>
					<b>Wicked Games (2023):</b> Collaboration with Fantasia International Film Festival to showcase
					Asian cinema, featuring short and long-form films from various Asian countries (Sticky Rice
					Magazine).
					<br />
					🔗 <a
						target="_blank"
						href="https://2023.fantasiafestival.com/en/activity/wicked-games-party"
						>Fantasia Film Festival</a
					> | 🔗 <a
						target="_blank"
						href="https://www.instagram.com/stickyricemagazine/reel/CvfQ8c1x8Q4/">Video (IG)</a
					>
				</li>
				<li>
					<b>Vision 2088: A Cyberpunk Outlook (2023):</b> Produced a two-part event exploring the concept
					of time and the future, featuring a creatives' panel and an immersive dance party (Sticky Rice
					Magazine).
					<br />
					🔗 <a target="_blank" href="https://www.youtube.com/watch?v=-AsVpOwZoHY">Youtube (YT)</a>
				</li>
				<li>
					<b>In Harmony: Year of the Wood Dragon (2024):</b> Produced a Lunar New Year celebration featuring
					live music, lion dance performances, and visual art installations (Sticky Rice Magazine).
					<br />
					🔗 <a target="_blank" href="https://www.instagram.com/p/C3ps-1qgPen/?img_index=1"
						>Video (IG)</a
					>
				</li>
				<li>
					<b>Paifang: A Queer Chinatown Festival (2024):</b>Organized a full-day festival connecting
					queer communities and Chinatown residents across generations, featuring workshops (tai
					chi, Chinese medicine, pleasure & consent) and a finale with mahjong, drag, live music,
					and a DJ set. (Jia Foundation x Fierté Montréal)
					<br />
					🔗 <a
						target="_blank"
						href="https://fiertemontreal.com/en/event/paifang-un-festival-queer-dans-le-quartier-chinois-fondation-jia"
						>Fierté Montreal</a
					>
				</li>
				<li>
					<b>Enter nous: homage aux arts martiaux / In Between Us: A Martial Arts Tribute (2024):</b
					>Produced a martial arts-inspired performance series at Fierté Montréal, showcasing a
					variety of martial arts practices (Sticky Rice Magazine x Fierté Montreal).
					<br />
					🔗 <a
						target="_blank"
						href="https://fiertemontreal.com/fr/evenements/entre-nous-hommage-aux-arts-martiaux"
						>Fierté Montreal</a
					> | 🔗 <a
						target="_blank"
						href="https://ici.radio-canada.ca/nouvelle/2093191/fierte-montreal-festival-programmation-danse-drag"
						>Radio-Canada</a
					>
				</li>
			</ul>
		</p>
		<h2>press</h2>
		<ul>
			<li>
				<b>Le magazine Sticky Rice et l'art de réécrire son récit identitaire (2021)</b>
				<br />
				🔗 <a
					target="_blank"
					href="https://ici.radio-canada.ca/ohdio/premiere/emissions/on-dira-ce-qu-on-voudra/segments/chronique/340199/sticky-rice-chan-tep-thimalay-sukhaseum"
					>Radio-Canada</a
				>
			</li>
			<li>
				<b>Bringing Pride to Chinatown (2021)</b>
				<br />
				🔗 <a
					target="_blank"
					href="https://www.thetribune.ca/student-life/bringing-pride-to-chinatown/">The Tribune</a
				>
			</li>
			<li>
				<b
					>Sticky Rice Steps Up with Vans / Sticky rice prend les devants avec Vans (2023)
					<br />
					🔗 <a
						target="_blank"
						href="https://www.littleburgundyshoes.com/blog/sticky-rice-steps-up-with-vans"
						>Little Burgundy (En)</a
					> / <a
						target="_blank"
						href="https://www.littleburgundyshoes.com/fr/blog/sticky-rice-prend-les-devants-avec-vans"
						>(Fr)</a
					>
				</b>
				<li>
					<b>Fierté Montréal prend son envol entre musique, arts martiaux et waacking (2024)</b>
					<br />
					🔗 <a
						target="_blank"
						href="https://ici.radio-canada.ca/nouvelle/2093191/fierte-montreal-festival-programmation-danse-drag"
						>Radio-Canada</a
					>
				</li>
			</li>
		</ul>
	</div>
</PageLayout>
