nav {
  background: #fff;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  height: 3.125rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li.logo {
  padding: 0.4rem;
  max-width: 0;
  transition: all 0.5s;
}

.fixedNavLogo {
  //   object-fit: cover;
  max-width: 4.2rem;

  padding: 0.4rem;
  //   max-width: 0;
  transition: all 0.5s;
  > a:after {
    border-style: none;
  }
}

li.logo a {
  display: flex;
}

li.logo a:after {
  border-style: none;
}

.fixed-nav li.logo {
  max-width: 5rem;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #001489;
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
}

nav a:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: solid 5px #e20f66;
  transition: all 0.5s ease;
}

nav a:hover:after,
nav a:focus:after {
  content: '';
  width: 50%;
  display: block;
  margin-left: 25%; /* Centers underline */
}

nav .hamburger {
  display: none;
}
